/* ComingSoonComponent.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh; 
    margin: 0 auto;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  