
.footerContent, .download, .footerContent ul, .footNote, .appDownload div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer {
    width: 99.5vw;
    padding: 20px 70px;
    height: fit-content;
    background-color: var(--footer-blue);
    color: #fff;
    font-size: 14px;
    flex-wrap: wrap;
}
.footerContent {
    margin: 60px auto;
}
.footerContent li {
    list-style: none;
    margin: 40px 20px 0 0;
}
.footerContent a {
    text-decoration: none;
    color: #fff;
}
.footNote div {
    line-height: 40px;
}
.appDownload > h3{
    font-size: 18px;
    margin-top: 10px;
}
.footNote a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}
.appStore {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    background-color: #000;
    margin: 10px 10px 0 0;
}
.appStore p {
    margin-left: 10px;
}
  /* MOBILE PHONES */
  @media only screen and (max-width: 450px) {
.footer ul{
    flex-direction: column;
    margin: 30px auto;
    align-items: flex-start;
}
.footerContent li {
    list-style: none;
    margin: 20px 0 0 0;
}
.footNote a {
    margin-right: 0;
}

  }