
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  max-width: 99vw;
}


:root .light{
    /* General */
  --primary-color: #fff; 
  --secondary-color: #000;
  --nav-mobile: #fff;
  --btn: #4C51C1;
  

  /* Authentication */
  --form-bg: #000000d6;
  --form-logo: #fff;
  --form-input-bg: #fff;
  --form-input-outline: #c6c1c1bf;
  --highlight: #e44f0aac;
  --hover-highlight: #EF865A;;
  --reroute-overlay: #a9a7a759;
  --password-reset: #ff0000;
  --success: #036309;

  /* Header */
  --nav-mobile: #fff;

  /* Landing page */
  --blue-fade: #768af93e;
  --hero-green: #DDEDBF;
  --hero-highlight: #FAD1B2;
  --mission-blue: #1F1B50;

  /* Features */
  --card-bg: #fff;
  --blue-fade: #768af93e;
  --features-desc: #000000d6;
  --blue-overlay: #100ab512;

  /* Articles */
  --grey: #535151; 
  --tips-green: #83AF31;
  --grey-tips-text: #808080;

  /* Location */
  --easy-peasy: #F591AF; 
  
  /* Footer */
  --footer-blue: #100E2A;

  /* Others */
  --outline: #D0D5DD;
}



:root .dark {
  /* General */
  --primary-color: #0c0a1f;  
  --secondary-color: #d9d9d9;
  --btn: #4C51C1; /* Button color */

  /* Authentication  */
  --form-bg: #020115ec;
  --form-logo: #d5d3d3;
  --form-input-bg: #f7f6f90f;
  --form-input-outline: #3b3b55d6;
  --highlight: #f68a58ac;
  --hover-highlight: #242425b6;
  --password-reset: #rgba(7, 7, 119, 0.714);
  --reroute-overlay: #e6e1e182;
  --success: #70f47991;
  

    /* Header */
  --nav-mobile: #c6c5c5;

    /* Landing page */
  --blue-fade: #0410513e;
  --hero-green: #034409;
  --hero-highlight: #7a2f0f;
  --mission-blue: #1F1B50; /* Dark blue */


    /* Features */
    --grey: #80808096;
    --card-bg: #100E2A; 
    --blue-fade: #768af93e; 
    --features-desc: #fff;
    --blue-overlay: #100ab512; 

    /* Articles */
  --grey: #80808096; 
  --tips-green: #83AF31;
  --grey-tips-text: #aaa9a9;

  /* Location */
    --easy-peasy: #F591AF; 

  /* Footer */
  --footer-blue: #100E2A; 

  /* other */
  --outline: #D0D5DD;
}

.react-switch {
 margin: 0 10px;
}